#LR_4
# Ігнорувати файл text.txt.
text.txt
# Ігнорувати rar-файли
*.rar
# Но конкретно answers.rar не ігнорувати
!answers.rar
# Ігнорувати rar-файли в корне проекту
# Допустим файл /temp/main.rar не буде проігноровано т.к. он не в корне
/*.rar
# Ігнорувати всі файли з папки land
/земля/
# Ігнорувати файли css з папки land без підпапки
# Допустим файл /land/temp/main.css не буде проігноровано т.к. он в підпапке temp
/land/*.css
# Ігнорувати файли js з папки land і підпапок
/land/**.*.js